*{
  box-sizing: border-box;
}

.App {
  background-color: white;
  color: black;
}




.Sform-input{
  width: 200px;
  margin: 0 auto;
  /*margin-bottom: 20px;*/
}

.Sform-button{
  width: 200px;
  margin: 0 auto;
  /*margin-bottom: 20px;*/
}

.registration{
  color: white;
}

.field{
  display: flex;
  flex-direction: column;
}

.field label{
  margin-bottom: 10px;
  color: white;
}




